@model DAL.Entities.Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
            Kategori Güncelle
        </header>
        <div class="panel-body">
            <form role="form" method="post">
                <div class="form-group">
                    <label>Kategori Ad</label>
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                </div>
                
                <button type="submit" class="btn btn-info">Güncelle</button>
            </form>

        </div>
    </section>
</div>




