
@{
    ViewBag.Title = "CompleteCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<h1>Biletiniz Oluşturulmuştur. Bilet Numaranız <strong> @ViewBag.OrderNumber</strong> İyi Seyirler Dileriz... </h1>


<button type="button" class="btn btn-default btn-lg btn-danger pull-right"> @Html.ActionLink("Çıkış", "Exit", new { @class = "btn btn-danger mt-auto" })</button>