@model DAL.Entities.AppUser

@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lütfen üyeliğinizi aktif hale getirebilmek için @Model.Email adresinizi kontrol edin.</h2>
