@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" >
    @*<div class="text-center">*@


        <img src="https://st2.depositphotos.com/1758336/5895/i/600/depositphotos_58955513-stock-photo-empty-movie-theater-with-red.jpg" class="rounded" style="width:1000px;height:500px;" >

    @*</div>*@

</div>

